body {
    background-color: #3273dc;
}

.loading {
    color:#fff;
}

#app {
    border: 5px solid #3273dc;
}

.app-section {
    background-color: #fff;
    border: 6px solid #00d1b2;
    padding: 10px;
}

footer {
    padding: 15px 0 15px 0;
    background-color: #3273dc;
    color: #fff;
    text-align: center;
    font-size:0.8rem;
}

.content h1.question {
    font-size: 2rem !important;
    color: #fff;
}

.content h1.correct-answer {
    margin-top:0;
    font-size:2rem;
    margin-bottom: 16px;
    color: #fff;
    text-align: center;
}

.content h1.wrong-answer {
    text-align: center;
    text-decoration: line-through;
    margin: 0 0 16px 0;
    color: #fff;
}

button.answer {
    border-color: transparent;
    color: #fff;
}

.result h4 {
    color: #fff;
}

.hero-body {
    padding: 1rem;
}

.orange { background-color: #FC4B43; }
.pink { background-color: #DD2476; }
.light-blue { background-color: #13A1D1; }
.dark-blue { background-color: #08648E; }
.green { background-color: #109E79; }
.purple { background-color: #7E46B9; }

button.next-question {
    float: right;
}



blockquote {
    color: #000;
}

div.score {
    position:absolute;
    right:0px;
    border:5px solid #fff;
    background: #fff;
}

div.score span {
    margin: 2px;
}

.button:hover {
    border-color: transparent;
    color:#fff;
}

div.content {
    margin-top: 1rem;
}

.question {
    text-align: center;
}

button.answer {
    width: 90%;
    margin: 0.3rem auto;
    padding: 1rem;
    font-size: 1.3rem;
}
